@model MvcStok.Models.Entity.TBLMUSTERI

@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<form class="form-group" method="post">
    <div>
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(x => x.MUSTERIAD, new { @class = "form-control", style = "width:500px" })
        @*Bu kod, kullanıcıdan bir kategori adı girmesini sağlayan bir metin kutusu oluşturur. Kullanıcı bu alana bir şeyler yazıp formu gönderdiğinde, girilen değer KATEGORIAD değişkenine atanır.*@
        @Html.ValidationMessageFor(x => x.MUSTERIAD, "", new { @class = "text-danger" })
        @*@Html.ValidationMessageFor(...) → Belirtilen alan için doğrulama (validation) hatasını ekrana yazdırır.
        x => x.MUSTERIAD → Hangi alanın hatasını göstereceğini belirler (KATEGORIAD).
        "" → Özel bir hata mesajı belirtilmiyor, sistemdeki varsayılan hata mesajı kullanılıyor.
        new { @class = "text-danger" } → Hata mesajını kırmızı renkte göstermek için bir CSS sın*@
    </div>
    <div style="margin-top:10px">
        <label>Müşteri Soyadı</label>
        <input type="text" name="MUSTERISOYAD" class="form-control" style="width:500px"/>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-warning" id="btn1">Müşteri Ekle</button>
    </div>
    <script src="~/Scripts/jquery-3.7.0.js"></script>
   <script>
        $('#btn1').click(function () {
            alert("Müşteri Eklendi");
        });
    </script>
</form>
    