@model MvcStok.Models.Entity.TBLURUN 

    @{
        ViewBag.Title = "Ekle";
        Layout = "~/Views/Shared/_MainLayout.cshtml";
    }

    <form class="form-group" method="post">
        <div>
            <label>Ürün Adı</label>
            <input type="text" name="URUNAD" class="form-control" style="width:500px" required="" placeholder="Ürünü Giriniz"  />
        </div>
        <div style="margin-top:10px">
            <label>Ürün Kategori</label>
            @Html.DropDownListFor(m => m.TBLKATEGORI.KATEGORIID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control",style ="width:500px" } )
          
        </div>
        <div style="margin-top:10px">
            <label>Ürün Fiyat</label>
            <input type="text" name="FIYAT" class="form-control" style="width:500px" placeholder="fiyatı Giriniz" required="" />
        </div>
        <div style="margin-top:10px">
            <label>Marka</label>
            <input type="text" name="MARKA" class="form-control" style="width:500px" required="" placeholder="Markayı Giriniz"  />
        </div>
        <div style="margin-top:10px">
            <label>Stok</label>
            <input type="text" name="STOK" class="form-control" style="width:500px" required="" placeholder="Stok Giriniz"  />
        </div>
        <div style="margin-top:15px">
            <button class="btn btn-warning">Ürün Ekle</button>
        </div>
    </form>

